*.eggs/
tmp/
*.egg-info/
CCU_validation_scoring/__pycache__/
__pycache__/
*.csv
*.pyc
*~
*#
.#*
.DS_Store
test/.swp**
test/.DS_Store
test/__pycache__/
hidden_norms.txt
known_norms.txt
*.scoring.index.tab
